/* Selector universal */
* {
    font-size: 40px;
}

/* Selector por elemento */
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

/* Selector de Clase */
.titulo {
    font-size: 20px;
    font-style: oblique;
}

/* Agrupación de selectores */
.descripcion, .pie_pagina {
    font-size: 16px;
}

/* Selector de identificador */
#daw {
    font-size: 10px;
}